body {
  font-size: 15px;
  background-color: #EEE; }

#wraper {
  width: 80%;
  margin: auto; }

#contain {
  background-color: #876543; }

footer {
  margin-top: 5px; }

.roundCorner {
  border-radius: 7px; }

.clear {
  clear: both; }

.navbar {
  margin-bottom: 0;
  border-radius: 0; }

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px; }

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%; }

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px; }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px; }
  .row.content {
    height: auto; } }

.menuItem {
  position: relative;
  z-index: 999; }

.subMenu {
  display: none;
  position: absolute;
  background-color: #222222;
  z-index: 1000;
  padding: 0;
  width: 100px; }
  .subMenu li {
    padding: 5px 10px;
    border-bottom: 1px solid #CCCCCC;
    width: 100%; }
    .subMenu li a {
      color: #AAAAAA; }
  .subMenu li:hover {
    background-color: #CCCCCC; }
    .subMenu li:hover a {
      color: #333333; }

.menuItem:hover > .subMenu {
  display: block; }

.subMenuItem:hover > .subMenu {
  display: block; }
