#header.roundCorner
	nav#menu.nav.navbar.navbar-inverse.navbar-static-top
		div.container-fluid
			mixin putMenuItem(name, link)
				li
					if name=='Home'
						a(href='Index.html')= name	
					else
						a(href=link+'.html')= name		
			ul.breadcrumb
				each menuItem in ['Home', 'Contact', 'About']
					+putMenuItem(menuItem, menuItem)