extends layout
block pageTitle
  title Home page
block userScripts
  script(type='text/javascript', src='../js/master.js')
block header
  include header
block contain
  #contain.roundCorner
    .container-fluid.text-center
     .col-sm-8.text-left
          h1 Welcome
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim hoang tran id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          hr
          h3 Test
          p Lorem ipsum...
block footer
  include footer
block script
  include script